# ignore lock files (office)
**/.~*

# ignore backups
**/*.bak

# ignore fuse files
**/*.fuse*

# ignore old version of merged files
**/*.old
**/*.orig

# ignore eclipse project files (its a makefile project)
**/*.project
**/*.settings
**/*.cproject

