# ignore binary files in proseminar exercises
# ignore all files
proseminar/*/**/*
# unignore folders
!proseminar/*/**/
# unignore files with extensions
!proseminar/*/**/*.*
#unignore makefiles
!proseminar/*/**/Makefile
!proseminar/*/**/makefile


# ignore lock files (office)
**/.~*

# ignore backups
**/*.bak

# ignore fuse files
**/*.fuse*

# ignore old version of merged files
**/*.old
**/*.orig

# ignore eclipse project files (its a makefile project)
**/*.project
**/*.settings
**/*.cproject

# ignore tarballs and extracted files
**/*.tar
**/frames/*.ppm

# ignore build artifacts
**/*.o
**/*.d

